#===Add this to your git ignore ===
#It has to be in the root folder(XPRESSAUTO) 
#you should already have one it probably just has .env though

#=== Python backend ===
/backend/venv/
/backend/pycache/
/backend/.pyc
/backend/.pyo
/backend/*.pyd
/backend/.Python
/backend/env/
/backend/.env


#=== Node/React frontend ===
/frontend/xpress-app/node_modules/
/frontend/xpress-app/dist/
/frontend/xpress-app/.vite/
/frontend/xpress-app/.env

#=== Logs, environment, and OS stuff ===
*.log
.env
.env.

#=== IDE/editor settings ===
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

#=== General ===
pycache/
*.bak


#=== Node === 
node_modules/
**/node_modules/ 